.userProfile img {
    display: inline;
    margin-top: 2rem;
    margin-bottom: -1rem;
}

#googleManage {
    font-size: .8rem;
}

.userProfile ul {
    display: table;
    line-height: 1.5;
    padding-left: 1rem;
    margin-top: 1.8rem;
}

.login-buttons {
    margin: 0; 
    align-items: center;
    justify-content: center;
}

.userName {
 color: #c76203f1;

}

.userInfo {
    display: flex;
    flex-direction: row;
    padding-bottom: 5px;
}

.userInfo img{
    float: left;
    margin-right: 1rem;
    width: 100px;
    height: 100px;
}

.siteName {
    color: #cf590a;
    font-weight: 700;
}

.userPhoto {
    border: 10px solid #ce6f2f;
}

.userProfile button {
    font-family: inherit;
    font-size: inherit;
    padding: .5rem 1rem;
    border: none;
    border-radius: .3rem;
    display: inline-block;
    margin: auto;
    width: 100%;
    max-width: 370px;
    color: white;
    cursor: pointer;
}

#googleProfile {
    background-color: steelblue;
}

#googleLogout {
    background-color: orangered;
}

#googleRemove {
    background-color: red;
}

.dzone {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    color: red;
    font-weight: bold;
}

.dzone div.line {
    flex-grow: 1;
}

.dzone div.line hr {
    border: none;
    margin: 0;
    border-top: 1px solid red;
    border-bottom: 1px solid red;
    height: 1px;
}